th {
    color: var(--white);
    font-weight: normal;
    font-family: Roboto;
    background: rgba(0, 0, 0, .6);
}
.table {
    width: 100%;
}
td {
    color: var(--laranja);
    font-weight: normal;
    font-family: Roboto;
    font-size: var(--sm);
}
.button-primary {
    background-color:var(--black) ;
    border-radius: 8px;
    border: 2px solid var(--laranja);
    width: 100%;
    height: 30px;
    color: var(--white);
    font-size: var(--sm);
    font-family: sans-serif;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 5px;
}
.button-primary:hover {
    color: var(--laranja);
    border: none;
}
@media (max-width:480px){
   .menu {
       display: flex;
       justify-content: center;
   }
    table tr {
        display: flex;
        flex-direction: column;
    }
     .table-thead {
         display: none;
     }
   table- td [data-titulo] {
       display: flex;
   }
   .table-tbody [data-titulo]::before {
       content: attr(data-titulo);
       width: 80px;
       color: var(--white);
   }
   .button-primary {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
   }
}
